*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* Barra de navegacion */
.iconosNavBar{
    width: 30px;
    margin-right: 10px;
    transition: 1s;
    transform: translateY(3px);
}
.barraDeNavegacion{
  width: 100%;
  background: #31BDD9;
  padding: 10px 0px;
  text-align: center;
  transition: 1s;
}
.barraDeNavegacion:hover{
    background: #44444a;
    transition: 1s;
}

.navegacionLink{
  padding: 20px 30px;
  margin: 0px 20px 0px 100px;
  background: #333336;
  letter-spacing: 3px;
  line-height: 80px;
  font-size: 20px;
  color: #74ED7E;
  font-family: 'Poiret One', cursive;
  border: 1px solid #74ED7E;
}


.barraDeNavegacion{
  width: 100%;
}

.barraDeNavegacion li {
  margin-right: 20px;
}

.navegacionLink:hover{
  color: #5E8AD6;
  transition: .8s;
  border: 1px solid #5E8AD6;
  /* CAMBIAR EL color de la imagen al hacewr hover */
}
